.image {
    width: 100%;
}

.linear-gradient-bg {
    background-image: linear-gradient(to right,#e4225c,#b82d7a,#f263e4,#f31c88,#fa34ae,#c45959);
    height: 150px;
    width: 100%;
}

.para {
    color: rgb(241, 231, 231);
}

.icon-title {
    color: white;
    font-family: "Roboto";
    font-size: 20px;
}

.landing-navbar {
    font-size: 30px;
    font-weight: bold;
    font-family: "Caveat";
    color: white;
}
.about-heading {
    color: black;
    font-size: 30px;
    

}
.about-subtitle {
    font-size: 22px;
}
.about-para {
    color: dimgray;
    font-size: 15px;
}
.about-image {
    width: 330px;
    height: 330px;
}
.about-button {
    background-image: linear-gradient(to right,#fa34a1,#80964f,#2691d8);
    width: 120px;
    height: 40px;
    border-radius: 18px;
    border-width: 0px;
    color: white;
}
.bg-service {
    background-image: url('https://www.freevector.com/uploads/vector/preview/15953/FreeVector-Diamond-Blur-Background-Image.jpg');
}
.service-image {
    width: 300px;
    height: 250px;
}
.service-heading {
    font-size: 35px;
    
}
.service-para {
    font-weight: bold;
    color: black;
    font-size: 25px;
    text-align: center;
}